<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UseDisplay>1</UseDisplay>
  <TopMost>false</TopMost>
  <AutoLoad>false</AutoLoad>
  <Scale>1.4</Scale>
  <ShowPageTime>20</ShowPageTime>
  <SpecialistWidth>240</SpecialistWidth>
  <CabinetWidth>40</CabinetWidth>
  <SiteWidth>0</SiteWidth>
  <DayOfWeekWidth>50</DayOfWeekWidth>
  <NoteWidth>0</NoteWidth>
  <ShowTitlePageTime>5</ShowTitlePageTime>
  <TitleText>Расписания приема специалистов</TitleText>
  <BackgroundColors>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>38</R>
        <G>198</G>
        <B>218</B>
        <ScA>1</ScA>
        <ScR>0.019382363</ScR>
        <ScG>0.5647115</ScG>
        <ScB>0.7011019</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>0</R>
        <G>105</G>
        <B>92</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0.14126329</ScG>
        <ScB>0.107023105</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>32</R>
        <G>189</G>
        <B>255</B>
        <ScA>1</ScA>
        <ScR>0.014443845</ScR>
        <ScG>0.50888133</ScG>
        <ScB>1</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>84</R>
        <G>51</G>
        <B>255</B>
        <ScA>1</ScA>
        <ScR>0.08865559</ScR>
        <ScG>0.033104766</ScG>
        <ScB>1</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>109</R>
        <G>213</G>
        <B>250</B>
        <ScA>1</ScA>
        <ScR>0.15292616</ScR>
        <ScG>0.66538733</ScG>
        <ScB>0.9559733</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>41</R>
        <G>128</G>
        <B>185</B>
        <ScA>1</ScA>
        <ScR>0.022173885</ScR>
        <ScG>0.21586053</ScG>
        <ScB>0.48514995</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>145</R>
        <G>234</G>
        <B>228</B>
        <ScA>1</ScA>
        <ScR>0.28314877</ScR>
        <ScG>0.82278574</ScG>
        <ScB>0.7758222</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>127</R>
        <G>127</G>
        <B>213</B>
        <ScA>1</ScA>
        <ScR>0.21223076</ScR>
        <ScG>0.21223076</ScG>
        <ScB>0.66538733</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>0</R>
        <G>180</G>
        <B>219</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0.45641103</ScG>
        <ScB>0.7083758</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>0</R>
        <G>131</G>
        <B>176</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0.2269659</ScG>
        <ScB>0.43415368</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>28</R>
        <G>181</G>
        <B>224</B>
        <ScA>1</ScA>
        <ScR>0.011612245</ScR>
        <ScG>0.46207702</ScG>
        <ScB>0.74540424</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>70</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0.06124606</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>102</R>
        <G>125</G>
        <B>182</B>
        <ScA>1</ScA>
        <ScR>0.13286832</ScR>
        <ScG>0.20507874</ScG>
        <ScB>0.4677838</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>0</R>
        <G>130</G>
        <B>200</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0.22322798</ScG>
        <ScB>0.57758045</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>6</R>
        <G>190</G>
        <B>182</B>
        <ScA>1</ScA>
        <ScR>0.001821162</ScR>
        <ScG>0.5149177</ScG>
        <ScB>0.4677838</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>72</R>
        <G>177</G>
        <B>191</B>
        <ScA>1</ScA>
        <ScR>0.06480327</ScR>
        <ScG>0.4396572</ScG>
        <ScB>0.5209956</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>54</R>
        <G>209</G>
        <B>220</B>
        <ScA>1</ScA>
        <ScR>0.036889452</ScR>
        <ScG>0.6375969</ScG>
        <ScB>0.71569353</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>91</R>
        <G>134</G>
        <B>229</B>
        <ScA>1</ScA>
        <ScR>0.10461649</ScR>
        <ScG>0.2383976</ScG>
        <ScB>0.7835378</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>21</R>
        <G>153</G>
        <B>87</B>
        <ScA>1</ScA>
        <ScR>0.007499032</ScR>
        <ScG>0.3185468</ScG>
        <ScB>0.09530747</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>21</R>
        <G>87</G>
        <B>153</B>
        <ScA>1</ScA>
        <ScR>0.007499032</ScR>
        <ScG>0.09530747</ScG>
        <ScB>0.3185468</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>0</R>
        <G>78</G>
        <B>146</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0.07618539</ScG>
        <ScB>0.28744087</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>0</R>
        <G>4</G>
        <B>40</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0.001214108</ScG>
        <ScB>0.021219011</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>86</R>
        <G>204</G>
        <B>242</B>
        <ScA>1</ScA>
        <ScR>0.093058966</ScR>
        <ScG>0.60382736</ScG>
        <ScB>0.8879231</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>47</R>
        <G>128</G>
        <B>237</B>
        <ScA>1</ScA>
        <ScR>0.02842604</ScR>
        <ScG>0.21586053</ScG>
        <ScB>0.8468732</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>78</R>
        <G>205</G>
        <B>196</B>
        <ScA>1</ScA>
        <ScR>0.07618539</ScR>
        <ScG>0.61049557</ScG>
        <ScB>0.55201143</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>85</R>
        <G>98</G>
        <B>112</B>
        <ScA>1</ScA>
        <ScR>0.09084172</ScR>
        <ScG>0.122138776</ScG>
        <ScB>0.16202939</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>58</R>
        <G>123</G>
        <B>213</B>
        <ScA>1</ScA>
        <ScR>0.04231141</ScR>
        <ScG>0.19806932</ScG>
        <ScB>0.66538733</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>58</R>
        <G>96</G>
        <B>115</B>
        <ScA>1</ScA>
        <ScR>0.04231141</ScR>
        <ScG>0.11697067</ScG>
        <ScB>0.17144111</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>38</R>
        <G>120</G>
        <B>113</B>
        <ScA>1</ScA>
        <ScR>0.019382363</ScR>
        <ScG>0.18782078</ScG>
        <ScB>0.1651322</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>19</R>
        <G>106</G>
        <B>138</B>
        <ScA>1</ScA>
        <ScR>0.006512091</ScR>
        <ScG>0.14412847</ScG>
        <ScB>0.25415212</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>41</R>
        <G>128</G>
        <B>185</B>
        <ScA>1</ScA>
        <ScR>0.022173885</ScR>
        <ScG>0.21586053</ScG>
        <ScB>0.48514995</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>44</R>
        <G>62</G>
        <B>80</B>
        <ScA>1</ScA>
        <ScR>0.025186861</ScR>
        <ScG>0.048171826</ScG>
        <ScB>0.08021983</ScB>
      </Color2>
    </ColorPair>
    <ColorPair>
      <Color1>
        <A>255</A>
        <R>109</R>
        <G>213</G>
        <B>237</B>
        <ScA>1</ScA>
        <ScR>0.15292616</ScR>
        <ScG>0.66538733</ScG>
        <ScB>0.8468732</ScB>
      </Color1>
      <Color2>
        <A>255</A>
        <R>33</R>
        <G>147</G>
        <B>176</B>
        <ScA>1</ScA>
        <ScR>0.015208516</ScR>
        <ScG>0.29177067</ScG>
        <ScB>0.43415368</ScB>
      </Color2>
    </ColorPair>
  </BackgroundColors>
  <Departments>
    <Department>
      <Name>Детское отделение</Name>
      <Timetables>
        <Timetable>
          <Specialty>Невролог</Specialty>
          <FullName>Неминущая Вера Владимировна</FullName>
          <Cabinet>66</Cabinet>
          <MondayBegin>15:00</MondayBegin>
          <MondayEnd>17:00</MondayEnd>
          <TuesdayBegin>15:00</TuesdayBegin>
          <TuesdayEnd>17:00</TuesdayEnd>
          <WednesdayBegin>15:00</WednesdayBegin>
          <WednesdayEnd>17:00</WednesdayEnd>
          <ThursdayBegin>15:00</ThursdayBegin>
          <ThursdayEnd>17:00</ThursdayEnd>
          <FridayBegin>15:00</FridayBegin>
          <FridayEnd>17:00</FridayEnd>
        </Timetable>
        <Timetable>
          <Specialty>Педиатр-участковый</Specialty>
          <FullName>Ушакова Елена Семеновна</FullName>
          <Cabinet>62</Cabinet>
          <MondayBegin>08:00</MondayBegin>
          <MondayEnd>17:00</MondayEnd>
          <TuesdayBegin>08:00</TuesdayBegin>
          <TuesdayEnd>17:00</TuesdayEnd>
          <WednesdayBegin>08:00</WednesdayBegin>
          <WednesdayEnd>17:00</WednesdayEnd>
          <ThursdayBegin>08:00</ThursdayBegin>
          <ThursdayEnd>17:00</ThursdayEnd>
          <FridayBegin>08:00</FridayBegin>
          <FridayEnd>17:00</FridayEnd>
        </Timetable>
        <Timetable>
          <Specialty>Педиатр-участковый</Specialty>
          <FullName>Хомяк Светлана Николаевна</FullName>
          <Cabinet>64</Cabinet>
          <MondayBegin>09:00</MondayBegin>
          <MondayEnd>14:00</MondayEnd>
          <TuesdayBegin>09:00</TuesdayBegin>
          <TuesdayEnd>14:00</TuesdayEnd>
          <WednesdayBegin>09:00</WednesdayBegin>
          <WednesdayEnd>14:00</WednesdayEnd>
          <ThursdayBegin>09:00</ThursdayBegin>
          <ThursdayEnd>14:00</ThursdayEnd>
          <FridayBegin>09:00</FridayBegin>
          <FridayEnd>14:00</FridayEnd>
        </Timetable>
        <Timetable>
          <Specialty>Оториноларинголог</Specialty>
          <FullName>Лавренова Елена Александровна</FullName>
          <Cabinet>9</Cabinet>
          <MondayBegin>08:00</MondayBegin>
          <MondayEnd>10:00</MondayEnd>
          <TuesdayBegin />
          <ThursdayBegin>08:00</ThursdayBegin>
          <ThursdayEnd>10:00</ThursdayEnd>
        </Timetable>
        <Timetable>
          <Specialty>Детский хирург</Specialty>
          <FullName>Юхнов Роман Анатольевич</FullName>
          <Cabinet>14</Cabinet>
          <MondayBegin>08:00</MondayBegin>
          <MondayEnd>15:30</MondayEnd>
          <TuesdayBegin>08:00</TuesdayBegin>
          <TuesdayEnd>15:30</TuesdayEnd>
          <WednesdayBegin>08:00</WednesdayBegin>
          <WednesdayEnd>15:30</WednesdayEnd>
          <ThursdayBegin>08:00</ThursdayBegin>
          <ThursdayEnd>15:30</ThursdayEnd>
          <FridayBegin>08:00</FridayBegin>
          <FridayEnd>15:30</FridayEnd>
        </Timetable>
        <Timetable>
          <Specialty>Подростковый врач</Specialty>
          <FullName>Ефимова Наталья Анатольевна</FullName>
          <Cabinet>64</Cabinet>
          <MondayBegin>09:00</MondayBegin>
          <MondayEnd>15:00</MondayEnd>
          <TuesdayBegin>09:00</TuesdayBegin>
          <TuesdayEnd>15:00</TuesdayEnd>
          <WednesdayBegin>09:00</WednesdayBegin>
          <WednesdayEnd>15:00</WednesdayEnd>
          <ThursdayBegin>09:00</ThursdayBegin>
          <ThursdayEnd>15:00</ThursdayEnd>
          <FridayBegin>09:00</FridayBegin>
          <FridayEnd>15:00</FridayEnd>
        </Timetable>
      </Timetables>
    </Department>
    <Department>
      <Name>Гинекологическое отделение</Name>
      <Timetables>
        <Timetable>
          <Specialty>Детский акушер-гинеколог</Specialty>
          <FullName>Креслина Елена Николаевна</FullName>
          <Cabinet>51</Cabinet>
          <MondayBegin>08:00</MondayBegin>
          <MondayEnd>17:00</MondayEnd>
          <TuesdayBegin>08:00</TuesdayBegin>
          <TuesdayEnd>17:00</TuesdayEnd>
          <WednesdayBegin>08:00</WednesdayBegin>
          <WednesdayEnd>17:00</WednesdayEnd>
          <ThursdayBegin>08:00</ThursdayBegin>
          <ThursdayEnd>17:00</ThursdayEnd>
          <FridayBegin>08:00</FridayBegin>
          <FridayEnd>17:00</FridayEnd>
        </Timetable>
        <Timetable>
          <Specialty>Акушер-гинеколог</Specialty>
          <FullName>Кормилицина Мария Павловна</FullName>
          <Cabinet>51</Cabinet>
          <MondayBegin>14:00</MondayBegin>
          <MondayEnd>19:00</MondayEnd>
          <TuesdayBegin>14:00</TuesdayBegin>
          <TuesdayEnd>19:00</TuesdayEnd>
          <WednesdayBegin>14:00</WednesdayBegin>
          <WednesdayEnd>19:00</WednesdayEnd>
          <ThursdayBegin>14:00</ThursdayBegin>
          <ThursdayEnd>19:00</ThursdayEnd>
          <FridayBegin>14:00</FridayBegin>
          <FridayEnd>19:00</FridayEnd>
        </Timetable>
        <Timetable>
          <Specialty>Акушер-гинеколог</Specialty>
          <FullName>Луцык Наталья Владимировна</FullName>
          <Cabinet>50</Cabinet>
          <MondayBegin>09:00</MondayBegin>
          <MondayEnd>14:00</MondayEnd>
          <TuesdayBegin>09:00</TuesdayBegin>
          <TuesdayEnd>14:00</TuesdayEnd>
          <WednesdayBegin>09:00</WednesdayBegin>
          <WednesdayEnd>14:00</WednesdayEnd>
          <ThursdayBegin>09:00</ThursdayBegin>
          <ThursdayEnd>14:00</ThursdayEnd>
          <FridayBegin>09:00</FridayBegin>
          <FridayEnd>14:00</FridayEnd>
        </Timetable>
        <Timetable>
          <Specialty>Акушер-гинеколог</Specialty>
          <FullName>Алиева Рейхан Тарвиердиевна</FullName>
          <Cabinet>38</Cabinet>
          <MondayBegin>08:00</MondayBegin>
          <MondayEnd>16:30</MondayEnd>
          <TuesdayBegin>08:00</TuesdayBegin>
          <TuesdayEnd>16:30</TuesdayEnd>
          <WednesdayBegin>08:00</WednesdayBegin>
          <WednesdayEnd>16:30</WednesdayEnd>
          <ThursdayBegin>08:00</ThursdayBegin>
          <ThursdayEnd>16:30</ThursdayEnd>
          <FridayBegin>08:00</FridayBegin>
          <FridayEnd>16:30</FridayEnd>
        </Timetable>
      </Timetables>
    </Department>
    <Department>
      <Name>Отделение лучевой диагностики</Name>
      <Timetables>
        <Timetable>
          <FullName>Флюорографический кабинет</FullName>
          <Cabinet />
          <MondayBegin>08:00</MondayBegin>
          <MondayEnd>19:00</MondayEnd>
          <TuesdayBegin>08:00</TuesdayBegin>
          <TuesdayEnd>19:00</TuesdayEnd>
          <WednesdayBegin>08:00</WednesdayBegin>
          <WednesdayEnd>19:00</WednesdayEnd>
          <ThursdayBegin>08:00</ThursdayBegin>
          <ThursdayEnd>19:00</ThursdayEnd>
          <FridayBegin>08:00</FridayBegin>
          <FridayEnd>19:00</FridayEnd>
        </Timetable>
      </Timetables>
    </Department>
  </Departments>
  <ScreenAddress>127.0.0.1</ScreenAddress>
  <ScreenPort>8642</ScreenPort>
</Settings>